@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Wet+Paint&family=Sora:wght@300;500&family=Special+Elite&display=swap");

body {
  color: white;
  background: url("./Background.png") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  animation: animation-body 5s infinite;
}

@keyframes animation-body {
  0% {
    background: url("./background/0.png") no-repeat center center fixed;
    background-size: cover;
  }
  10% {
    background: url("./background/10.png") no-repeat center center fixed;
    background-size: cover;
  }
  20% {
    background: url("./background/20.png") no-repeat center center fixed;
    background-size: cover;
  }
  30% {
    background: url("./background/30.png") no-repeat center center fixed;
    background-size: cover;
  }
  40% {
    background: url("./background/40.png") no-repeat center center fixed;
    background-size: cover;
  }
  50% {
    background: url("./background/50.png") no-repeat center center fixed;
    background-size: cover;
  }
  60% {
    background: url("./background/60.png") no-repeat center center fixed;
    background-size: cover;
  }
  70% {
    background: url("./background/70.png") no-repeat center center fixed;
    background-size: cover;
  }
  80% {
    background: url("./background/80.png") no-repeat center center fixed;
    background-size: cover;
  }
  90% {
    background: url("./background/90.png") no-repeat center center fixed;
    background-size: cover;
  }
  100% {
    background: url("./background/100.png") no-repeat center center fixed;
    background-size: cover;
  }
}

.blink {
  animation: blink-background 5s infinite;
}

#home,
#descricao,
#elenco {
  visibility: hidden;
}

#home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  margin: auto;
  color: rgb(136, 8, 8);
  font-family: "Rubik Wet Paint", cursive;
  font-size: 7em;
  text-align: center;
  animation: animation-h1 3s;
}

h2 {
  font-size: 3.8em;
  font-family: "Special Elite", cursive;
  letter-spacing: 0.3em;
  font-weight: 600;
}

h3 {
  font-family: "Special Elite", cursive;
}

p {
  font-family: "Special Elite", cursive;
}

@keyframes animation-h1 {
  0% {
    font-size: 2em;
  }
  20% {
    font-size: 3em;
  }
  40% {
    font-size: 4em;
  }
  60% {
    font-size: 5em;
  }
  80% {
    font-size: 6em;
  }
  100% {
    font-size: 7em;
  }
}

button {
  display: flex;
  margin: auto;
  z-index: 2;
  background-color: rgb(136, 8, 8);
}

.container {
  width: 80%;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.container h2 {
  text-align: center;
  color: #660000;
  margin-bottom: 10px;
}

.container p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 20px;
  margin: 2em;
}

.container ul {
  list-style-type: none;
  padding-left: 20px;
}

.container li {
  margin-bottom: 5px;
}

.container iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border: none;
  margin: auto;
  padding: 1.3em;
  border-radius: 3em;
}

.video {
  display: flex;
  justify-content: center;
}

#descricao {
  display: flex;
  justify-content: center;
  height: 60vh;
  margin-top: 5em;
}

#sinopse,
#curiosidades {
  width: 45%;
  background-color: #33333350;
  border-radius: 20px;
}

#sinopse p,
#curiosidades p {
  text-align: justify;
}

#sinopse p{
  margin: 2em 3em auto 3em;

}

#trailer,
#teaser {
  width: 45%;
}

#fotos {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

#elenco {
  margin-top: 8em;
  height: 100vh;
  margin-bottom: 15em;
}

#elenco img {
  width: auto;
  height: auto;
  margin-right: 10px;
  transform: rotate(3deg);
  transform-origin: top right;
  transition: transform 0.5s, flex 0.6s, opacity 0.6s;
  aspect-ratio: 9 / 16;
  min-width: 0;
  flex: 1 1 10px;
  object-fit: cover;
  opacity: 0.5;
}

#elenco img:hover {
  flex: 1 1 100px;
  opacity: 1;
  transform: rotate(0deg); /* Reverte a rotação ao passar o mouse */
  cursor: pointer;
}

#elenco h2 {
  margin: 1em;
}

.letter {
  transition: 0.04s;
  transform: translateX(0);
  cursor: grab;
  color: #ffaa00;
  text-shadow: 0 0 25px #ff0000;
}

.letter:hover {
  background: -webkit-linear-gradient(to bottom, red, transparent);
  background: linear-gradient(45deg, #330000, #6d0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

.animation-word {
  margin-top: 0;
  animation: animation-h1 3s;
  margin-bottom: 30px;
}

#lancamento-data {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Pacifico", cursive;
  font-size: 3em;
  margin-top: -0.6em;
  opacity: 0;
  color: white;
  text-shadow: 0 0 0px black, 0 0 10px #03ff25;
  animation: fade-in 1s ease-in-out 3s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-background {
  0%,
  100% {
    background-color: black; /* Dark background */
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2); /* Slightly transparent background */
  }
}

footer {
  text-align: center;
  background: cover;
  padding: 2em 0;
}

footer h2 {
  margin: 0;
  margin-bottom: 1.3em;
  font-size: 1.5em;
  color: red;
  font-family: "Rubik Wet Paint", cursive;
}

footer a:hover {
  color: #ff6666; /* Dark red */
}

/* Dark background and hover effect for links */
footer a {
  background-color: #222;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  font-weight: 400;
  font-family: "Rubik Wet Paint", cursive;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

ul li {
  margin: 0;
  font-size: 1.1em;
  color: white;
}

ul,
li,
a:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.467);
}

a {
  color: white;
  text-decoration: none;
}

ul li:last-child {
  margin-right: 0;
}

.class-ind {
  position: fixed;
  border-radius: 5px;
  animation: rotateButton 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 3 forwards;
  height: 9%;
  width: 5%;
  bottom: 0;
  left: 0; /* Define a posição no canto inferior esquerdo */
  margin: 1em;
}

@keyframes rotateButton {
  0%,
  100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
}

#assista {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8em auto;
}

#assista img {
  width: 90%;
  margin: auto;
}

.shadow__btn {
  padding: 20px 30px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  position: absolute;
  right: 5.4vw;
  bottom: -88em;
  z-index: 1;
  font-family: "Special Elite", cursive;
  line-height: 1.5em;
}
.shadow__btn {
  background: #990000;
  box-shadow: 0 0 25px #990000;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px #990000, 0 0 25px #990000, 0 0 50px #990000,
    0 0 100px #990000;
}

.anuncio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
  font-family: "Rubik Wet Paint", cursive;
  line-height: 1.5em;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.anuncio:hover {
  opacity: 1;
}

.anuncio .btn {
  height: 50px;
  margin: 20px;
  margin-bottom: 40px;
  width: 155px;
  padding: 0 5em;
}

.anuncio .btn a {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(255, 0, 0, 0.2);
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  z-index: 1;
  transition: 0.5s;
}

.anuncio .btn:hover a {
  letter-spacing: 2px;
}

.anuncio .btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.anuncio .btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.anuncio .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  height: 10px;
  width: 30px;
  background: #f91a01;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.anuncio .btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.anuncio .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  height: 10px;
  width: 30px;
  background: #8b0000;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.anuncio .btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.anuncio .btn:nth-child(1):before,
.anuncio .btn:nth-child(1)::after {
  background: #8b0000;
  box-shadow: 0 0 5px #8b00008a, 0 0 15px #8b0000, 0 0 30px #8b0000,
    0 0 60px #8b0000;
}

.anuncio .btn:active a {
  color: #000;
}

#sectionComplementar {
  display: flex;
  justify-content: center;
}

.curiosidade-card {
  border: 1px solid white;
  margin: 1.3em 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.curiosidade-card:hover {
  transform: translate(0, -0.8em) rotateX(3deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #33333350;
}

#imageDiv {
  min-width: 100%;
  height: 80vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 99%
    ),
    url(./images-selecionadas/intro-1684724117.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#imageDiv img {
  width: 45%;
  height: auto;
  animation: animation-title 1s infinite;
}

@keyframes animation-title {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
